<template>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> {{ title }}
</template>

<script>
  export default {
    name: 'LoadingSpinner',
    props: {
      title: {
        type: String,
        default: 'Loading...'
      }
    }
  }
</script>

<style>

</style>

