<template>
  <div>
    <h1> I am About Page</h1>
  </div>
</template>

<script setup lang="ts">
  useHead({
    title: 'About Page',
    meta: [
      {
        name: 'description',
        content: 'About Page'
      }
    ]
  })
</script>
