<template>
  <div>
    <h1> I am Home Page</h1>
  </div>
</template>

<script setup lang="ts">
  useHead({
    title: 'Home',
    meta: [
      {
        name: 'description',
        content: 'Home Page'
      }
    ]
  })
</script>
