<template>
  <div class="mt-5">
    <div class="card" container>
      <div class="card-header">
        <h4>Edit User
          <NuxtLink to="/users" class="btn btn-danger float-end">Back</NuxtLink>
        </h4>
      </div>
      <div class="card-body">
        <div v-if="isLoading">
          <loading :title="isLoadingText" />
        </div>
        <div v-else>
          <form @submit.prevent="handleUpdate">
            <div class="mb-3">
              <label for="">First Name</label>
              <input type="text" v-model="user.firstName" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Last Name</label>
              <input type="text" v-model="user.lastName" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <span class="text-danger" v-if='this.errorCode == 400'>{{ this.errorMsg }}</span>
              <input type="text" v-model="user.email" class="form-control">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

export default {
  name: 'UserEdit',
  data() {
    return {
      user: {},
      userId: '',
      isLoading: false,
      isLoadingText: "Loading...",
      errorCode: 200,
      errorMsg: '',
    }
  },
  mounted() {
    this.userId = this.$route.params.id
    this.getUserFromId(this.userId);
  },
  methods: {
    getUserFromId(userId) {
      this.isLoading = true;
      const runtimeConfig = useRuntimeConfig()
        console.log(runtimeConfig.public.backendFqdn)
      axios.get(`${runtimeConfig.public.backendFqdn}/api/v1/users/${userId}`).then(response => {
        //console.log(response);
        this.isLoading = false;
        this.user = response.data
      })
    },
    handleUpdate() {
      var myThis = this;
      this.errorCode = 200;
      this.errorMsg = '';
      this.isLoading = true;
      this.isLoadingText = "Updating...";
      const runtimeConfig = useRuntimeConfig()
      console.log(runtimeConfig.public.backendFqdn)
      axios.put(`${runtimeConfig.public.backendFqdn}/api/v1/users/${this.userId}`, this.user).then(response => {
        console.log(response.data);
        // alert(response.data.message);
        this.isLoading = false;
        this.isLoadingText = "Loading...";
      })
      .catch(function (error) {
        console.log(error);
        if (error.response.status == 400) {
          myThis.errorMsg = error.response.data.message;
          myThis.errorCode = error.response.status
        }
        myThis.isLoading = false;
      })
    }
  }
}
</script>

<style>

</style>

