<template>
  <div class="mt-5">
    <div class="card" container>
      <div class="card-header">
        <h4>Add User
          <NuxtLink to="/users" class="btn btn-danger float-end">Back</NuxtLink>
        </h4>
      </div>
      <div class="card-body">
        <div v-if="isLoading">
          <loading :title="isLoadingText" />
        </div>
        <div v-else>
          <form @submit.prevent="handleSubmit">
            <div class="mb-3">
              <label for="">First Name</label>
              <input type="text" v-model="user.firstName" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Last Name</label>
              <input type="text" v-model="user.lastName" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <span class="text-danger" v-if='this.errorCode == 400'>{{ this.errorMsg }}</span>
              <input type="text" v-model="user.email" class="form-control">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'UserCreate',
    data() {
      return {
        user: {
          firstName: '',
          lastName: '',
          email: ''
        },
        isLoading: false,
        isLoadingText: "Loading...",
        errorCode: 200,
        errorMsg: '',
      }
    },
    methods: {
      handleSubmit() {
        var myThis = this;
        this.errorCode = 200;
        this.errorMsg = '';
        this.isLoading = true;
        this.isLoadingText = "Saving...";
        const runtimeConfig = useRuntimeConfig()
        console.log(runtimeConfig.public.backendFqdn)
        axios.post(`${runtimeConfig.public.backendFqdn}/api/v1/users`, this.user).then(response => {
          console.log(response.data);
          alert(response.data.message);
          this.user.firstName = '';
          this.user.lastName = '';
          this.user.email = '';
          this.isLoading = false;
          this.isLoadingText = "Loading...";
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == 400) {
            myThis.errorCode = error.response.status;
            myThis.errorMsg = error.response.data.message;
          }
          myThis.isLoading = false;
        })
      }
    }
  }
</script>

<style>

</style>

