<template>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4>Users List</h4>
          <NuxtLink class="btn btn-danger float-end" to="/users/create">
            Add User
          </NuxtLink>
      </div>
      <div class="card-body">
        <div v-if="isLoading">
          <loading title="Loading..." />
        </div>
        <div v-else>        
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <NuxtLink :to="`/users/${user.id}`" class="btn btn-primary btn-sm mx-2">Edit</NuxtLink>
                  <button @click="deleteUser($event, user.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import dotenv from 'dotenv';
  export default {
    name: 'User',
    data() {
      return {
        users: {},
        isLoading: false,
      }
    },
    mounted() {
      this.getUsers()
      console.log(this.users)
    },
    methods: {
      deleteUser(event, userId) {
        const runtimeConfig = useRuntimeConfig()
        console.log(runtimeConfig.public.backendFqdn)
        if (confirm('Are you sure to delete this record?')) {
          this.isLoading = true;
          axios.delete(`${runtimeConfig.public.backendFqdn}/api/v1/users/${userId}`).then(response => {
            this.isLoading = false;
            this.getUsers();
          })
        }
      },
      getUsers() {
        const runtimeConfig = useRuntimeConfig()
        console.log(runtimeConfig.public.backendFqdn)
        this.isLoading = true
        this.isLoadingText = "Loading..."
        axios.get(`${runtimeConfig.public.backendFqdn}/api/v1/users`)
        .then(response => {
          this.users = response.data
          this.isLoading = false
        })
        .catch(error => {
          console.log(error)
        })
      }
    }
  }

</script>

<style>

</style>

